<html>
  <head>
    <title>Demo ABBY Cloud OCR SDK</title>
  </head>
  <body>
    <h1>Demo ABBY Cloud OCR SDK</h1>

    <%= yield %>
    <br>
    <small>
      <a target="_blank" href="http://ocrsdk.com/">ocrsdk.com</a>
      |
      <a target="_blank" href="https://github.com/nemilya/ocrsdk-demo">demo source code</a>
    </small>
  </body>
</html>